.App {
  text-align: center;
  margin: 0% 25%;
  height: 100vh;
  position: relative;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  scale: 0;
  overflow: hidden;
}

.card{
  width: fit-content;
  padding: 15px;

  border: 1.5px solid black;
  border-radius: 1.5rem;

  transform: scale(1.5);
}

#TITLE{
  transition: transform 2s ease-in-out, font-size 2s ease-in-out;
}

.transition-title {
  transform: translateY(-12rem);
  font-size: 2rem;
}

.transition-joke {
  transition:  opacity 3s ease-in-out, transform 3s ease-in-out;
}

